body {
  @include helvetica(18px);
  color: $gray;
  background: $white;

  .container {
    width: 1140px;
    margin: 0 auto;
  }

  .loading {
    background: image-url('loading.gif') no-repeat;
    height: image-height('loading.gif');
    width: image-width('loading.gif');
    margin: 0 auto;
    text-align: -9999px;
  }

  #container {
    padding-top: 150px;
  }

  header {
    border-bottom: 25px solid $red;
    position: fixed;
    background: $white;
    width: 100%;
    z-index: 999;

    &:after {
      content: '';
      border-bottom: 25px solid $yellow;
      position: absolute;
      width: 50%;
      right: 0;
      z-index: 1;
    }

    .container {
      @include pie-clearfix;

      h1 {
        $border-height: 25px;
        @include float-left;
        border-bottom: $border-height solid $orange;
        padding: 35px 0;
        position: relative;
        top: $border-height;
        margin-top: -$border-height;
        z-index: 2;
        width: 700px;

        a {
          $width: 326px;
          $height: 46px;
          background: image-url('/svg/logo.svg') no-repeat;
          background-size: $width $height;
          width: $width;
          height: $height;
          display: block;
          text-indent: -9999px;
        }
      }

      nav {
        @include float-left;
        margin-top: 55px;

        ul {
          @include pie-clearfix;

          li {
            @include float-left;
            margin-right: 25px;

            &:last-child {
              margin-right: 0;
            }

            a {
              @include link;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  footer {

  }

  .color-bar {
    border-bottom: 25px solid $red;
    width: 100%;
    position: relative;

    &:after {
      content: '';
      border-bottom: 25px solid $yellow;
      position: absolute;
      width: 50%;
      right: 0;
      z-index: 1;
    }

    .container {
      position: relative;
      z-index: 2;

      &:after {
        content: '';
        border-bottom: 25px solid $orange;
        position: absolute;
        width: 700px;
      }
    }
  }

  a.master-arrow {
    @include single-transition(transform, 0.2s, ease-in-out);
    $dimension: 71px;
    $position: 20px;
    background: url('down.svg') no-repeat;
    display: block;
    text-indent: -9999px;
    width: $dimension;
    height: $dimension;
    position: fixed;
    bottom: $position;
    right: $position;
    cursor: pointer;
    z-index: 100;

    &:hover {
      background: url('down-hover.svg') no-repeat;
    }

    &.top {
      @include rotate(180deg);
    }
  }
}
