#intro {
  @include single-box-shadow($gray, 0, 50px, 50px, -50px);
  position: relative;

  .container {
    padding: 100px;
    width: 900px;

    h1 {
      font-size: 48px;
      font-weight: normal;
      margin-bottom: 30px;
    }

    p {
      @include helvetica(22px);
    }

    .arrow {
      text-align: center;
      margin: 50px 0;
    }
  }
}

#animation {
  text-align: center;
  margin: 25px 0 -600px;
  height: 200px;

  img {
    position: relative;
    z-index: 99;
  }

  .video {
    position: relative;
    width: 630px;
    top: -629px;
    left: 9px;
    margin: 0 auto;
    z-index: 1;

    .sublimevideo-yl * {
      display: none;
    }
  }
}
