#intro {
  @include single-box-shadow($gray, 0, 50px, 50px, -50px);
  position: relative;

  .container {
    padding: 100px;
    width: 900px;

    h1 {
      font-size: 48px;
      font-weight: normal;
      margin-bottom: 30px;
    }

    p {
      @include helvetica(22px);
    }

    .arrow {
      text-align: center;
      margin: 50px 0;
    }
  }
}

#animation {
  text-align: center;
  margin: 25px 0 -600px;
  height: 200px;

  img {
    position: relative;
    z-index: 99;
  }

  .video {
    position: relative;
    width: 630px;
    top: -629px;
    left: 9px;
    margin: 0 auto;
    z-index: 1;

    .sublimevideo-yl * {
      display: none;
    }
  }
}

.connect {

  .flash {
    text-align: center;
    color: $white;
    background: $orange;
    font-weight: bold;
    padding: 10px;
  }
}

.contact {
  @include float-left;
  color: $orange;
  padding-top: 50px;
  margin-right: 50px;

  p {
    margin-bottom: 25px;

    &.address {
      cursor: pointer;
    }
  }
}

.stream {
  @include float-left;
  width: 860px;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba($white, 0.9);
  padding-top: 200px;

  .close {
    height: image-height('close.png');
    width: image-width('close.png');
    background: image-url('close.png') no-repeat;
    display: block;
    text-indent: -9999px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .fields, iframe {
    @include single-box-shadow(black, 0, 0, 60px, -15px);
  }

  .overlay-content {
    width: 630px;
    margin: 0 auto;

    form {
      padding: 0;
      margin: 0;

      .fields {

        input[type=text], input[type=email] {
          margin: 0;
          border: 5px solid $gray;
          font-size: 18px;
          padding: 8px;
          width: 291px;
        }

        input[type=email] {
          margin-left: -5px;
        }

        textarea {
          border: 5px solid $gray;
          font-size: 18px;
          margin: -5px 0 -5px 0;
          padding: 8px;
          width: 603px;
          height: 150px;
        }
      }

      input[type=submit] {
        float: right;
        font-size: 18px;
        border: none;
        background: none;
        color: $gray;
        cursor: pointer;
      }
    }
  }
}
