#intro {
  @include single-box-shadow($gray, 0, 50px, 50px, -50px);
  position: relative;

  .container {
    padding: 100px;
    width: 900px;

    h1 {
      font-size: 48px;
      font-weight: normal;
      margin-bottom: 30px;
    }

    p {
      @include helvetica(22px);
    }

    .arrow {
      text-align: center;
      margin: 50px 0;
    }
  }
}

#animation {
  text-align: center;
  margin: 25px 0 -600px;
  height: 200px;

  img {
    position: relative;
    z-index: 99;
  }

  .video {
    position: relative;
    width: 630px;
    top: -629px;
    left: 9px;
    margin: 0 auto;
    z-index: 1;

    .sublimevideo-yl * {
      display: none;
    }
  }
}

.contact {
  @include float-left;
  color: $orange;
  padding-top: 130px;
  margin-right: 50px;

  p {
    margin-bottom: 25px;

    &.address {
      cursor: pointer;
    }
  }
}

.stream {
  @include float-left;
  width: 860px;

  nav.social-media {
    margin: 50px 0 25px 10px;

    ul {
      @include clearfix;

      li {
        @include float-left;
        margin-right: 10px;

        a {
          width: image-width('twitter.png');
          height: image-height('twitter.png');
          display: block;
          text-indent: -9999px;

          &.facebook { background: image-url('facebook.png') no-repeat; }
          &.instagram { background: image-url('instagram.png') no-repeat; }
          &.twitter { background: image-url('twitter.png') no-repeat; }
          &.youtube { background: image-url('youtube.png') no-repeat; }
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba($white, 0.8);
  padding-top: 200px;
  display: none;

  .close {
    height: image-height('close.png');
    width: image-width('close.png');
    background: image-url('close.png') no-repeat;
    display: block;
    text-indent: -9999px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .overlay-content {
    width: 630px;
    margin: 0 auto;
  }
}
