@media all and (max-width: 1150px) {
  body, html, #container {
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }

  body {

    header {

      .container {
        width: 1000px;

        h1 {
          width: 635px;
        }
      }
    }

    ul#work li section .data {
      max-width: 650px;

      h2 {
        @include helvetica(36px);
      }
    }
  }
}

@media all and (max-width: 1000px) {

  body {

    .container {
      width: 800px;
    }

    header {

      .container {
        width: 800px;

        h1 {
          width: 480px;
        }
      }
    }

    #intro .container {
      width: 700px;
      padding: 0;
    }

    .video#video {
      width: 80%;
    }

    .overlay .overlay-content {
      width: 90%;
      overflow: hidden;

      form .fields {

        input[type=text], input[type=email], textarea {
          width: 90%%;
        }

        input[type=email] {
          margin-left: 0;
          margin-top: -5px;
        }

        textarea {
          height: 100px;
        }
      }
    }

    .arrow {
      margin: 100px 0;
    }

    ul#work li section .data {

      h2 {
        @include helvetica(24px);
      }

      h3 {
        @include helvetica(18px);
      }
    }

    ul#team li {
      margin-right: 170px;

      &:nth-child(2n) {
        margin-right: 0 !important;
      }

      &:nth-child(3n) {
        margin-right: 170px;
      }
    }

    .stream {
      width: 525px;
    }
  }
}

@media all and (max-width: 801px) {

  body {

    .container {
      width: 80%;
    }

    #container {
      -webkit-overflow-scrolling: touch;
      height: 100%;
      padding-top: 250px;
    }

    header {
      position: absolute;

      .container {
        width: 100%;

        h1 {
          width: 100%;
          border-bottom: none;
          float: none;
          display: block;

          a {
            width: 80%;
            height: 79px;
            background-size: 100% auto;
            margin: 0 auto;
          }
        }

        nav {
          float: none;
          display: block;
          width: 80%;
          margin: 25px auto -25px;
          padding-bottom: 25px;
          border-bottom: 25px solid $orange;
          position: relative;
          z-index: 2;

          ul {

            li {
              margin-right: 0;

              &:first-child {
                width: 20%;
              }

              &:nth-child(2), &:nth-child(3) {
                text-align: center;
                width: 27%;
              }

              &:last-child {
                text-align: right;
                width: 26%;
              }
            }
          }
        }
      }
    }

    #intro .container {
      width: 80%;

      h1 {
        @include helvetica(24px);
      }

      p {
        @include helvetica(14px);
      }
    }

    .video#video {
      width: 100%;
    }

    ul#work {

      li {
        background: none !important;
        height: auto;

        section {
          margin-top: 0;
          padding: 25px 0;

          .width {
            width: 80%;

            &:before {
              width: 100%;
              text-align: center;
              left: 0;
              top: 30%;
            }

            img {
              float: none;
              display: block;
              width: 100%;
            }

            .data {
              float: none;
              display: block;

              h3 {
                @include helvetica(14px);
              }
            }
          }
        }
      }

      .color-bar {

        .container {
          width: 80%;

          &:after {
            width: 100%;
          }
        }
      }
    }

    ul#team li {
      float: none;
      display: block;
      margin: 0 auto !important;
      width: 100%;
      text-align: center;

      &:nth-child(2n), &:nth-child(3n) {
        margin-right: auto !important;
      }

      img.hover {
        left: 25%;
      }

      .about {
        text-align: left;
        width: 89%;
      }
    }

    .contact {
      width: 100%;
      text-align: center;
      margin: 0 auto;

      .addthis_toolbox {
        width: 145px;
        margin: 0 auto;
      }
    }

    .stream {
      width: 100%;
    }
  }
}

@media screen and (max-width: 480px) {

  body {

    header .container {

      h1 a {
        height: 48px;
      }

      nav {
        margin-top: 0;

        ul {

          li {

            a {
              font-size: 14px;
            }
          }
        }
      }
    }

    ul#team li img.hover { left: 0; }

    ul#work li section .width:before {
      top: 10%;
    }
  }
}

@media screen and (max-width: 320px) {

  body {

    header {

      .container {

        nav {
          padding-bottom: 15px;
        }

        h1 a {
          height: 32px;
        }
      }
    }
  }
}
