ul#work {

  li {
    height: 700px;
    overflow: hidden;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;

    section {
      @include clearfix;
      background: rgba($white, 0.85);
      width: 100%;
      padding: 25px 50px;
      margin-top: 200px;
      position: relative;

      .width {
        width: 1240px;
        margin: 0 auto;
        position: relative;

        &:before {
          $image: 'play.png';
          content: image-url($image);
          width: image-width($image);
          height: image-height($image);
          position: absolute;
          left: 107px;
          top: 51px;
          cursor: pointer;
        }
      }

      img {
        @include float-left;
        margin-right: 25px;
        border: 2px solid $gray;
        cursor: pointer;
      }

      .data {
        @include float-left;
        max-width: 800px;

        h2 {
          font-size: 48px;
          line-height: 48px;
          color: $gray;
          margin: 15px 0;
          text-align: justify;
        }

        h3 {
          font-size: 18px;
          color: $gray;
          text-align: justify;
        }
      }
    }
  }

  .color-bar {
    border-bottom: 25px solid $red;
    width: 100%;
    position: relative;

    &:after {
      content: '';
      border-bottom: 25px solid $yellow;
      position: absolute;
      width: 50%;
      right: 0;
      z-index: 1;
    }

    .container {
      position: relative;
      z-index: 2;

      &:after {
        content: '';
        border-bottom: 25px solid $orange;
        position: absolute;
        width: 700px;
      }
    }
  }
}
