h1.scroll {
  margin: 200px auto;
}

ul#work {

  li {
    height: 800px;
    overflow: hidden;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;

    section {
      @include clearfix;
      background: rgba($white, 0.8);
      width: 100%;
      padding: 25px 50px;
      position: relative;

      img {
        @include float-left;
        margin-right: 25px;
        border: 2px solid $gray;
        cursor: pointer;
      }

      .data {
        @include float-left;
        max-width: 940px;

        h2 {
          font-size: 48px;
          line-height: 48px;
          color: $gray;
          margin: 15px 0;
        }

        h3 {
          font-size: 18px;
          color: $gray;
        }
      }
    }
  }
}
